* {
  box-sizing: border-box;
}

/* Content area */
#content {
	margin-left: 1em;
}

/* Top Navbar */

.S3MenuLogo > img {
	height: 20px; width: 20px;
}

/* Shoutout */


/* Flowchart */

.flowchart {
	margin: 3em;
}

/* Forms */

form {
  padding: 1em !important;
}

.ui.checkbox {
	padding: 5px;
}