<!DOCTYPE html>
<html>
<head>
  {{theme=response.s3.theme}}
  <title>
    {{try:}}{{=title}}{{except:}}{{=response.title or settings.get_system_name_short()}}{{pass}}
  </title>

  <link rel="shortcut icon" href="/{{=appname}}/static/favicon.ico" type="image/x-icon" />

  {{for sheet in s3.external_stylesheets:}}
    <link href="{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
  {{pass}}

  {{include "semantic.css.html"}}
  {{for sheet in s3.stylesheets:}}
    <link href="/{{=appname}}/static/styles/{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
  {{pass}}

  {{if s3.debug:}}
    {{=s3base.s3_include_debug_css()}}
  {{else:}}
    <link href="/{{=appname}}/static/themes/{{=theme}}/eden.min.css" rel="stylesheet" type="text/css" />
  {{pass}}

  {{if response.refresh:}}{{=XML(response.refresh)}}{{pass}}

  {{include "scripts_top.html"}}
</head>

{{try:}}

 {{if r.representation == "popup":}}
   {{representation = "popup"}}
 {{elif r.representation == "iframe":}}
   {{representation = "iframe"}}
 {{else:}}
   {{representation = ""}}
 {{pass}}

{{except:}}
  {{representation = ""}}{{pass}}
  {{if representation == "popup":}}
    <body class='popup'>
    {{if response.flash or response.confirmation:}}
      {{include "layout_popup.html"}}
    {{else:}}
      {{include}}
    {{pass}}

    {{if s3.debug:}}
      {{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.js"]))}}
    {{else:}}
      {{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.min.js"]))}}
    {{pass}}
  {{elif representation == "iframe":}}
     {{include "layout_iframe.html"}}
     {{include}}
  {{else:}}
    <body>
       {{=current.menu.main}}

       <div class="ui page grid">
         <div class='center aligned column'>
           {{if response.error:}}
              <div class="ui error message">
                <p>{{=response.error}}</p>
              </div>
           {{pass}}
           {{if response.warning:}}
              <div class="ui warning message">
                <p>{{=response.warning}}</p>
              </div>  
           {{pass}}
           {{if response.information:}}
              <div class="ui info message">
                <p=response.information}}</p>
              </div>
           {{pass}}
           {{if response.confirmation:}}
              <div class="ui positive message">
                <p>{{=response.confirmation}}</p>  
              </div>
           {{pass}}
           {{if response.flash:}}
              <div class="ui message">
                <p>{{=response.flash}}</p>
              </div>  
           {{pass}}
         </div>
       </div>

       <div class='ui page grid'>
        {{if current.menu.options is not None:}}
          <a id='menu-options-toggle' class='tiny secondary button show-for-small' data-status='off' data-off='{{=T("Show Options")}}' data-on='{{=T("Hide Options")}}'>
            {{=T("Show Options")}}
          </a>
          <div class='three wide column hide-for-small' id='menu-options'>
           {{=current.menu.options}}
          </div>

          <div class='eleven wide column' id='content'>
            <div class="ui segment">
        {{else:}}
          <div class='sixteen wide column'>
            <div class="ui segment">
        {{pass}}
         
        {{include}}
        </div></div>
       </div>

       <div class='ui page grid' id='footer'>
        <div class='twelve wide column'>
         {{include "../modules/templates/%s/views/footer.html" % response.s3.theme}}
        </div>
       </div>
{{pass}}

{{include "scripts.html"}}
{{include "semantic.js.html"}}
<script type="text/javascript" src="/{{=appname}}/static/themes/nimzo/js/main.js"></script>
</body>

</html>